

h3{
    color: #9E9E9E;
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
}


button:focus {
    box-shadow: none !important;
    outline-width: 0;
}

.card{
    border-radius:0;
    width: calc(600px + 10 * ((100vw - 320px) / 680)) ;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) ;
    border-top-color: #F9E8C7 !important;
    padding-left: 0 !;
}

img{
    width: 180px ;
}

.btn-primary{
    background:#04A79C;
    color: #fff !important;
    border-radius:0 !important;
    padding-top: calc(5px + 6 * ((100vw - 320px) / 680)) ;
    padding-bottom: calc(5px + 6 * ((100vw - 320px) / 680));
    border: 0px ;

}

.btn-primary:hover{
    background:#04A79C;
}
.btn-primary:focus{
    background:#04A79C !important;
}

small{
    letter-spacing: 2px;
}

.touch{
    color:#04A79C;
    cursor: pointer;
}

.plan{
    text-align: center !important;
    vertical-align: middle !important;
    font-size:calc(8px + 3 * ((100vw - 320px) / 680));
}

.btn-inverse {
    border: 1px solid #aaaa;
    background-color: transparent;
    border-radius:0;
    letter-spacing: 1px;
    padding-top: calc(5px + 6 * ((100vw - 320px) / 680)) ;
    padding-bottom: calc(5px + 6 * ((100vw - 320px) / 680));
}

.btn-inverse:hover {
    background-color: #04A79C;
    color: #fff !important;
}

@media (max-width: 726px) {
    .card{
        width: unset;
    } 
}

.HeaderText{
    font-size: 20px;
    font-family: 'Montserrat';
}
.CloseButton{
    border: none;
    background: none;
}
.ModalFooter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
}
.modalContainer{
    width: 60%;
}

.chat-ui {
    display: flex;
    flex-direction: column;
    height: 87vh;
    
    overflow: hidden;
    width: 100%;
    background-color: #e7e7e794;
    box-sizing: border-box;
    z-index: 4;
}