:root {
  --primary-blue: #007BFF;
  --secondary-gray: #333333;
  --background-gray: #F5F5F5;
  --accent-green: #28A745;
  --accent-gold: #FFD700;
  --caution-red: #DC3545;
  --caution-orange: #FFA500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
